/* Leaflet map components */
.page.search {
  #map-container.leaflet-container {
    height: calc(100vh - (50px + 294px)); // Height from navigation + form
  }
}
#map-container.leaflet-container {
  height: calc(100vh - 50px); // Height from navigation
  z-index: 0;

  .leaflet-bar {
    border: 2px solid rgba(0, 0, 0, .1);

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
      font-family: $font-primary;
      color: $color-darkgrey;
      font-weight: 500;
    }
  }
  .leaflet-top.leaflet-left {
    top: inherit;
    bottom: 10px;
  }
  .leaflet-bottom {
    display: none;
  }
}

.map-overlay {
  @include block(absolute);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $color-darkgrey;
  z-index: 2;

  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
  &.show {
    opacity: .5;
    visibility: visible;
  }
}
