$grid-column-count: 24;
@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;
@import 'node_modules/bourbon/app/assets/stylesheets/bourbon';

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
$font-primary: 'Roboto', sans-serif;
$color-white: #FFF;
$color-black: #000;
$color-darkgrey: #3C3C3C;
$color-orange: #FC814A;
$color-lightorange: #FF9768;
$color-blue: #2FC3B6;
$color-lightblue: #85DAD2;
@import 'mixins';
@import 'typography';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html, body {
  height: 100%;
}
body {
  background: $color-white;
  font-family: $font-primary;
  color: $color-black;
}

.clear {
  clear: both;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/* Leaflet map components */
#map-container.leaflet-container {
  height: 600px;

  .leaflet-bar {
    border: 2px solid rgba(0, 0, 0, .1);

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
      font-family: $font-primary;
      color: $color-darkgrey;
      font-weight: 500;
    }
  }
  .leaflet-bottom {
    display: none;
  }
}
